
<!--Check if hero object is null-->
<p-panel *ngIf="!hero">
  <p-header>
    <h3>
      Please choose your Superhero!
    </h3>
  </p-header>
    <div class="col-sm-12">
        <img src="/assets/img/marvel-46.jpg" alt="Marvel Comic App">
    </div>

    <div class="col-sm-12">
      <h1>
        Marvel Hero!
      </h1>

      <h4>
        If you want to be the master of Marvel superheroes, you are in the right place!
      </h4>

      <p>
        Click on the hero you want to know more about, and scroll down to check the details!
      </p>

    </div>
    <h3>
      Have fun!
    </h3>
  <p-footer>

  </p-footer>

</p-panel>

<!--Check if hero object is null-->
<p-panel *ngIf="hero">

  <!--loading details from hero selected-->
  <p-header>
    <h3>
      {{ hero.name }}
    </h3>
  </p-header>

  <p>
    {{ hero.description }}
  </p>

  <div class="row">


    <div class="col-sm-12">
      <img class="imageDetail"
           src="{{ hero.thumbnail.path }}.{{ hero.thumbnail.extension }}"
           alt="Thumbnail {{ hero.name }}"/>
    </div>

    <div class="col-sm-12">
      <h4> Stories Present </h4>

      <!--listing stories from hero-->
      <div *ngIf="hero.stories['available'] > 0">

        <ul class="listStyling">
          <li *ngFor="let comic of hero.stories['items']">
            {{ comic['name'] }}
          </li>
        </ul>

      </div>

    </div>
  </div>
</p-panel>






